* {
box-sizing: border-box;
}

body {
font-family: "Roboto", sans-serif;
background-image: url("img/patt.png");
}

.container {
width: 1200px;
margin: 0 auto;
padding: 0 15px;
}

.row {
display: flex;
margin-right: -15px;
margin-left: -15px;
/* column-gap: 30px; */
}

[class*="col-"] {
padding-left: 15px;
padding-right: 15px;
}

.col-1 {
width: 8.33333%;
}

.col-2 {
width: 16.66667%;
}

.col-3 {
width: 25%;
}

.col-4 {
width: 33.33333%;
}

.col-6 {
width: 50%;
}

.col-9 {
width: 75%;
}

.col-12 {
width: 100%;
}

.header {
background-color: rgba(255, 255, 255, 0.75);
height: 100px;
display: flex;
align-items: center;
}

.menu {
display: flex;
}

.menu li {
width: 25%;
}

.menu a {
display: flex;
justify-content: center;
align-items: center;
height: 50px;
text-decoration: none;
color: #2c71b8;
font-size: 21px;
border-left: 1px solid #2c71b8;
}

.menu li:last-child a {
border-right: 1px solid #2c71b8;
}

.menu a:hover {
color: white;
background-color: #2c71b8;
}

.logo {
margin-top: 7px;
}

.search-form {
margin-top: 5px;
display: flex;
align-items: center;
height: 40px;
border: 1px solid #2c71b8;
}

input {
padding: 15px;
background-color: inherit;
outline: none;
border: none;
width: 82%;
}

::placeholder {
font-family: "Roboto", sans-serif;
color: #2c71b8;
font-size: 21px;
}

button {
width: 30px;
height: 30px;
background-color: #2c71b8;
border: none;
cursor: pointer;
}

.cart {
position: relative;
padding: 10px;
width: 40px;
height: 40px;
background-color: #fff;
margin-top: 5px;
}

.product-count {
width: 20px;
height: 20px;
border-radius: 50%;
background-color: #2c71b8;
position: absolute;
top: -10px;
left: -10px;
font-size: 0.8rem;
text-align: center;
line-height: 1.7;
color: white;
}
.dropdown {
position: relative;
}

.menu a.dropdown::after {
position: absolute;
right: 5px;
display: block;
height: 20px;
width: 20px;
content: "";
background-image: url(img/211687_down_arrow_blue.png);
background-position: 50% 50%;
}

.menu a:hover.dropdown::after {
background-image: url(img/211687_down_arrow_white.png);
}

.dropdown-menu {
display: none;
position: absolute;
top: 75px;
width: 286px;
}

.menu > li:hover a {
background-color: #2c71b8;
color: white;
}

.menu .dropdown-item:hover {
background-color: white;
color: #2c71b8;
}

.menu > li:hover a.dropdown::after {
background-image: url(img/211687_down_arrow_white.png);
}

.menu > li:hover .dropdown-menu {
display: block;
z-index: 50;
}

/* main */

.breadcrumb {
display: flex;
padding: 30px 0;
}

.breadcrumb-item a {
color: rgba(255, 255, 255, 0.5);
text-decoration: none;
}
.breadcrumb-item + .breadcrumb-item::before {
content: ">";
color: rgba(255, 255, 255, 0.5);
margin: 5px;
}
.breadcrumb-item.active a {
text-decoration: underline;
}

.wrapper {
/* margin-top: 27px; */
}

.page-content {
display: flex;
flex-wrap: wrap;
margin-top: 50px;
}

.page-title {
display: flex;
justify-content: space-between;
}

.page-title__header {
color: #ffffff;
font-size: 2.85rem;
font-weight: bold;
}

select {
width: 100%;
margin-top: 6px;
padding: 3px 10px 5px;
color: #ffffff;
border-color: #ffffff;
background-color: #2c71b6;
font-size: 1.25rem;
outline: none;
}

.item-wrapper {
position: relative;
margin-bottom: 30px;
border: 1px solid #ffffff;
}

.item-wrapper {
background-color: rgba(44, 113, 182, 0.5);
}

.item-image {
display: flex;
overflow: hidden;
align-items: center;
justify-content: center;
height: 180px;
background-color: rgba(255, 255, 255, 0.75);
}

.container-fluid {
padding: 10px;
}

.item-title {
padding-top: 0.75rem;
color: #ffffff;
font-size: 1.75rem;
font-weight: bold;
}

.item-description {
color: #ffffff;
font-size: 1.25rem;
line-height: 1.5rem;
margin-top: 20px;
}

.item-characteristics {
margin-top: 15px;
font-size: 1.25rem;
line-height: 1.75rem;
}

.item-characteristics span {
display: block;
margin-top: 7px;
margin-bottom: 7px;
color: #ffffff;
}

.item-characteristics span:last-child {
margin-bottom: 28px;
}
.item-buttons {
position: absolute;
top: 10px;
right: 10px;
}

.item-buttons button {
display: flex;
justify-content: center;
align-items: center;
width: 30px;
height: 30px;
padding: 5px;
background-color: inherit;
border: 1px solid #2c71b6;
}

.btn-square {
background-image: url(img/square\ blue.png);
background-position: 50% 50%;
background-repeat: no-repeat;
}

.btn-square:hover {
background-color: #2c71b6;
background-image: url(img/square\ white.png);
background-position: 50% 50%;
background-repeat: no-repeat;
}

.btn-heart {
background-image: url(img/heart\ blue.png);
background-position: 50% 50%;
background-repeat: no-repeat;
}
.btn-heart:hover {
background-color: #2c71b6;
background-image: url(img/heart\ white.png);
background-position: 50% 50%;
background-repeat: no-repeat;
}

.btn-heart.active {
background-color: #2c71b8;
background-image: url(img/heart\ white.png);
background-position: 50% 50%;
background-repeat: no-repeat;
}

.item-buttons button:last-child {
margin-top: 8px;
}

.item-buttons img {
display: block;
margin: 0 auto;
}

.item-price {
text-align: center;
color: #ffffff;
font-size: 3rem;
font-weight: bold;
margin-bottom: 25px;
}

sup {
vertical-align: super;
font-size: 1.8rem;
}

.item-actions {
display: flex;
flex-direction: column;
align-items: center;
}

.item-actions button {
margin-bottom: 15px;
text-transform: uppercase;
color: #ffffff;
border-color: #ffffff;
font-weight: bold;
}

.item-actions button:hover {
color: #2c71b6;
border-color: #ffffff;
background-color: rgba(255, 255, 255, 0.75);
}

.item-actions__cart {
position: relative;
background-color: rgba(255, 255, 255, 0.2);
}

.item-actions__cart img {
display: block;
position: absolute;
right: 15px;
top: 14px;
}

strong {
font-weight: bold;
}

.btn {
width: 210px;
height: 48px;
border: 1px solid white;
font-size: 18px;
}

.page-pagination__more {
margin-bottom: 30px;
text-align: center;
font-size: 2rem;
}

.page-pagination__link {
color: #ffffff;
text-decoration: none;
}

.page-footer {
background-color: rgba(255, 255, 255, 0.8);
}
.page-footer__copy {
padding-top: 30px;
padding-bottom: 30px;
text-align: center;
color: #2c71b6;
font-size: 1.25rem;
}

/* aside */

.sidebar-filter {
border-right: 1px solid #ffffff;
background-color: rgba(255, 255, 255, 0.2);
padding: 30px;
}

.form-group {
margin-bottom: 60px;
}

.form-group:nth-last-child(3) {
margin-bottom: 25px;
}

.sidebar-filter legend {
font-weight: bold;
color: white;
text-transform: uppercase;
font-size: 24px;
}

.sidebar-filter .form-check {
margin: 10px 0px;
color: white;
}

.sidebar-filter .form-check-label {
display: block;
margin-left: 1.8rem;
font-size: 1.25rem;
}
.sidebar-filter .form-check-input {
width: 0;
height: 0;
}
.sidebar-filter .form-check-input:focus {
outline: none;
}
.sidebar-filter .form-check-input:checked::before {
background-color: #ffffff;
}
.sidebar-filter .form-check-input::before {
display: block;

width: 0.8rem;
height: 0.8rem;
margin-top: 0.35rem;

content: "";

border: 1px solid #ffffff;
}
.sidebar-filter__more {
display: block;
text-decoration: none;
margin-bottom: 30px;

color: #ffffff;

font-size: 1.25rem;
}

.sidebar-filter__submit {
border: 1px solid #ffffff;
border-radius: 0;
background-color: #2c71b6;
color: white;
text-transform: uppercase;
}

.modal {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: none;
}

.modal.active {
display: block;
}

.modal__wrapper {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 1000px;
background-color: #2c71b8;
padding: 50px;
}

.close {
position: absolute;
right: 10px;
top: 10px;
background: transparent;
border: none;
width: 35px;
height: 35px;
cursor: pointer;
}

.close img {
width: 100%;
height: 100%;
}

.slider {
height: 400px;
background-color: rgba(0, 0, 0, 0.2);
border-bottom: 1px solid white;
}

.slider-block {
padding: 120px;
font-size: 100px;
letter-spacing: 10px;
color: #fff;
font-family: "Roboto";
text-align: center;
}

.slick-arrow {
width: 50px;
height: 50px;
}

button.slick-next.slick-arrow,
button.slick-prev.slick-arrow {
padding-bottom: 60px;
width: 60px;
height: 60px;
}
.slick-dots {
position: relative;
}

.slick-dots li {
margin: 10px;
}

.slick-dots li button::before {
display: none;
}

.slick-next:before {
right: 0;
position: absolute;
content: "";
width: 60px;
height: 60px;
background: url(img/2931159_arrow_forward_right_move_navigation_icon.svg);
z-index: 100;
}

.slick-prev:before {
left: 0;
position: absolute;
content: "";
width: 60px;
height: 60px;
background: url(img/2931162_arrow_back_left_direction_move_icon.svg);
}

.slick-dots li button {
width: 10px;
height: 10px;
border: 1px solid #fff;
}

.slick-dots .slick-active button {
background-color: #fff;
}


.product-quantity {
	background-color: rgba(255, 255, 255, 0.75);
	text-align: center;
max-width: 210px;
margin: 0 auto;
margin-bottom: 10px;
}

.product-quantity button {
	border: 1px solid black;
	background: gainsboro;
}

input {
	background-color: rgba(255, 255, 255, 0.75);
	width: 130px;}
